<div class="container-fluid col">
    <div class="container col-8 mx-auto">
        <form >
            <div class="form-group row mb-4">
                <label for="firstName">First name</label>
                <div class="col">
                    <input  class="form-control" 
                            type="text" 
                            id="name" 
                            placeholder="Name"
                            formControlName="name">
                    <small></small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="lastName">Last name</label>
                <div class="col">
                    <input  class="form-control" 
                            type="text" 
                            id="lastName" 
                            placeholder="lastName"
                            formControlName="lastName">
                    <small></small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="serial">Device serial</label>
                <div class="col">
                    <input  class="form-control" 
                            type="text" 
                            id="serial" 
                            placeholder="Device serial"
                            formControlName="serial">
                    <small></small>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label for="emergency_ID">Emergency ID</label>
                <div class="col">
                    <input  class="form-control" 
                            type="text" 
                            id="emergency_ID" 
                            placeholder="Emergency ID"
                            formControlName="emergency_ID">
                    <small></small>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="time">Time</label>
                <div class="col">
                    <input  class="form-control" 
                            type="text" 
                            id="time" 
                            placeholder="Time"
                            formControlName="time">
                    <small></small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>