<div class="card">
    <p-table #t responsiveLayout="scroll" [value]="emergenciesList" 
            (sortFunction)="customSort($event)" 
            [customSort]="true">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="device">Device serial <p-sortIcon field="device"></p-sortIcon></th>
                <th pSortableColumn="emergency">Emergency ID <p-sortIcon field="emergency"></p-sortIcon></th>
                <th pSortableColumn="time">Time <p-sortIcon field="time"></p-sortIcon></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-em>
            <tr>
                <td>{{ em.device.serialNumber }}</td>
                <td>{{ em.emergency.emergencyId }}</td>
                <td>{{ em.emergency.requestTime | date:"EE, MMM d, y, h:mm:ss" }}</td>
                <td>{{ em.holder.firstName }}</td>
                <td>{{ em.holder.lastName }}</td>
                <td><button pButton type="button" label="Delete" class="p-button-sm"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>